html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-size: 14px;
  line-height: 1.6;
  color: black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

#header {
  background: url("../images/bckgd.png") no-repeat;
  background-size: cover;
  height: 100vh; }

.content {
  margin-top: 15vh; }

h1, p {
  color: white;
  text-align: center; }

h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 15px;
  margin-bottom: 3vh; }
  h1 span {
    font-weight: 700; }

p.sub-heading {
  font-size: 40px;
  letter-spacing: 40px;
  opacity: 0.5;
  margin-bottom: 3vh; }

p.disc {
  margin: 0 auto;
  font-size: 30px;
  width: 80%;
  letter-spacing: 2px; }

.main-nav {
  display: flex;
  padding-top: 40px; }
  .main-nav li {
    list-style: none; }
  .main-nav a {
    color: white;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 15px 40px;
    font-weight: 700;
    text-transform: uppercase; }
  .main-nav li:first-child {
    margin-right: auto; }

a.contact {
  background: white;
  color: #010312;
  box-shadow: 0 12px 10px -10px rgba(255, 255, 255, 0.5); }
