html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-size: 14px;
  line-height: 1.6;
  color: black;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

#header {
  background: url("../images/bckgd.png") no-repeat;
  background-size: cover;
  height: 100vh; }

.content {
  margin-top: 15vh; }

h1, p {
  text-align: center; }

h1 {
  color: white;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 15px;
  margin-bottom: 3vh; }
  h1 span {
    font-weight: 700; }

p.sub-heading {
  color: white;
  font-size: 40px;
  letter-spacing: 40px;
  opacity: 0.5;
  margin-bottom: 3vh; }

p.disc {
  color: white;
  margin: 0 auto;
  font-size: 30px;
  width: 80%;
  letter-spacing: 2px; }

.main-nav {
  display: flex;
  padding-top: 40px; }
  .main-nav li {
    list-style: none; }
  .main-nav a {
    color: white;
    display: block;
    text-decoration: none;
    border-radius: 2vh 0;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase; }
  .main-nav li:first-child {
    margin-right: auto; }

a.contact {
  background: white;
  color: #010312;
  box-shadow: 0 12px 10px -10px rgba(255, 255, 255, 0.5); }

.skill {
  padding: 5vh 0;
  height: 100vh; }

#title {
  margin-bottom: 8vh;
  height: 100px; }
  #title img {
    display: block;
    height: 100px;
    margin: 0vh auto; }

#cont {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  justify-items: center;
  grid-gap: 6vh 2vh;
  grid-template-areas: "design-image design-content" "dev-content dev-image"; }

.lft-top {
  grid-area: design-image; }

.rgt-top {
  padding: 10px;
  grid-area: design-content; }
  .rgt-top p {
    margin-bottom: 3vh;
    line-height: 3vh;
    text-align: justify; }
  .rgt-top .design-icons {
    margin-top: 8vh; }

.sub-topic {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 2vh; }

.lft-btm {
  padding: 10px;
  grid-area: dev-content; }
  .lft-btm .sub-topic {
    width: 100%; }
  .lft-btm p {
    margin-bottom: 3vh;
    line-height: 3vh;
    text-align: justify; }
  .lft-btm .dev-icons {
    margin-top: 8vh; }

.rgt-btm {
  grid-area: dev-image; }

.works {
  height: 100vh;
  padding: 5vh 0;
  background-image: linear-gradient(to right bottom, #ffb900, #ffa90e, #ff981b, #ff8726, #ff7730); }
  .works .section-title {
    display: block;
    height: 100px;
    margin: 0 auto; }
  .works .card {
    margin: 8vh 0;
    padding: 2vh;
    display: grid;
    grid-template-areas: "exam book chatbot";
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3vh;
    width: 100%;
    height: 50vh; }
    .works .card .card1, .works .card .card2, .works .card .card3 {
      background: white;
      border-radius: 2vh 0;
      -webkit-box-shadow: 10px 12px 21px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 12px 21px -9px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 12px 21px -9px rgba(0, 0, 0, 0.75); }
      .works .card .card1 img, .works .card .card2 img, .works .card .card3 img {
        width: 100%;
        height: 30vh;
        border-radius: 2vh 0 0 0; }
      .works .card .card1 h3, .works .card .card2 h3, .works .card .card3 h3 {
        margin: 1vh 3vh;
        font-size: 2vh; }
      .works .card .card1 p, .works .card .card2 p, .works .card .card3 p {
        text-align: left;
        margin: 0vh 3vh; }
    .works .card .card1 {
      border-bottom: 1vh solid #2980b9; }
      .works .card .card1 a {
        text-decoration: none;
        color: #2980b9;
        font-size: 1.2vh;
        font-weight: 700;
        display: inline-block;
        margin: 2vh 3vh; }
    .works .card .card2 {
      border-bottom: 1vh solid #c0392b; }
      .works .card .card2 a {
        text-decoration: none;
        color: #c0392b;
        font-size: 1.2vh;
        font-weight: 700;
        display: inline-block;
        margin: 2vh 3vh; }
    .works .card .card3 {
      border-bottom: 1vh solid #2c3e50; }
      .works .card .card3 a {
        text-decoration: none;
        color: #2c3e50;
        font-size: 1.2vh;
        font-weight: 700;
        display: inline-block;
        margin: 2vh 3vh; }

.contactpg {
  background-image: linear-gradient(to right bottom, #f6f6f6, #ededed, #e5e5e5, #dcdcdc, #d4d4d4);
  height: 95vh;
  padding: 5vh 0; }
  .contactpg .section-title {
    display: block;
    height: 100px;
    margin: 0 auto; }

.main-grid {
  display: inline-grid;
  grid-template-areas: "right left";
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  height: 60vh;
  margin-top: 8vh; }
  .main-grid .rgt-grid {
    display: block;
    padding: 4vh 4vh;
    line-height: 3vh;
    width: 100%; }
    .main-grid .rgt-grid h4 {
      font-size: 4.0vh;
      text-align: center;
      margin-bottom: 3vh; }
    .main-grid .rgt-grid form > [for="fname"],
    .main-grid .rgt-grid form > [for="email"],
    .main-grid .rgt-grid form > [for="Pnum"],
    .main-grid .rgt-grid form > [for="mess"] {
      font-size: 1.5vh;
      display: block;
      text-align: center; }
    .main-grid .rgt-grid form > [id="fname"],
    .main-grid .rgt-grid form > [id="email"],
    .main-grid .rgt-grid form > [id="Pnum"],
    .main-grid .rgt-grid form > [id="mess"] {
      display: block;
      border: none;
      border-bottom: 1px solid #2C2C2C;
      margin-left: auto;
      margin-right: auto;
      height: 4vh;
      font-size: 1.5vh;
      background: none;
      width: 80%;
      margin-bottom: 3vh;
      outline: none;
      resize: none; }
    .main-grid .rgt-grid a {
      text-decoration: none;
      background: #76B1D3;
      color: #010312;
      box-shadow: 0 12px 10px -10px rgba(255, 255, 255, 0.5);
      display: block;
      width: 20vh;
      text-align: center;
      text-decoration: none;
      border-radius: 2vh 0;
      padding: 0.6vh 1.5vh;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 auto; }
  .main-grid .lft-grid {
    background: url("../images/mail.svg") no-repeat; }
    .main-grid .lft-grid .inner-box {
      margin-top: 25%;
      line-height: 6vh;
      text-align: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
    .main-grid .lft-grid h4 {
      font-size: 2.0vh; }
    .main-grid .lft-grid p {
      text-align: left;
      color: white; }

footer {
  height: 5vh;
  background: #212330;
  color: white; }
  footer p {
    padding: 1.2vh 0; }
